@import url(//db.onlinewebfonts.com/c/2c37f3699d9728b566e9bdc5b11e5180?family=BeaufortW01-Regular);
*{
    padding: 0px;
    margin: 0px;
}

.container-head{
    width: 100%;
    height: 170px;
    background-image: url('https://i.ytimg.com/vi/uQySrgXec7Q/maxresdefault.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:28%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.fondo-champs{
    width: 100%;
    min-height: 600px;
    height: auto;
    background-image: url(/src/img/fondochamps.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:cover;
}
.container-champ{
    width: 100%;
    padding: 15px;
    color:white;
    display:grid;
    text-align: center;
    justify-content: center;
}
.container-champ h2{
    font-size: 2rem; 
    font-weight: 900;
    letter-spacing: 4px;
}
.categorias{
    width: 100%;
    height:fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.categorias a{
    text-decoration: none;
    color:#c48c2c;
    font-family: BeaufortW01-Regular;
    font-size: 1rem;
    font-weight:900;
    letter-spacing: 2.5px;
    background-color: #181414;
    width: 10rem;
    height: 3.5rem;
    margin: 10px 12px 20px 12px;
    padding: 3px 3px;
    display:grid;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    opacity: .9;
}
.categorias a:hover{
    text-decoration: none;
    border-color: #EDEDED;
    color:#EDEDED
}
.categorias .active{
    background-color:#c48c2c;
    color: #181414;
    border-color:#181414;
    opacity: 1;
}
.span-head-champs{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height:170px;
    color: white;
    font-size: 3em;
    font-family: BeaufortW01-Regular;
    font-weight: 900;
    letter-spacing: 14px;
}
.grid{
    position: relative;
    height: fit-content; 
    display: block;
}

.grid .item{
    display: block;
    position:absolute;
    width: 230px;
    height: 330px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px 15px 20px 15px;
    border-radius:1px;
    border-style: solid;
    border-width: 2px;
    border-color:#c48c2c;
}
.item:hover{
    width: 240px;
    height: 340px;
}
.item-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* imagenes enfoncadas a la derecha*/
.card-r img{
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left:-5%;
    transform: translate(-50%,-50%) scale(1);
}
.card-rr img{
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left:-15%;
    transform: translate(-50%,-50%) scale(1);
}
/* imagenes enfocadas al medio*/
.card-c img{
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left:44%;
    transform: translate(-50%,-50%) scale(1);
}
.card-cr img{
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left:14%;
    transform: translate(-50%,-50%) scale(1);
}
.card-l  img{
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(1);
}
  
.img-description{
    background-color: rgba(10,10,12,.9);
    position:absolute;
    top: 0;
    padding: 8px;
    width:auto;
    height:100%;
    font-size: 14px;
    font-family: BeaufortW01-Regular;
    font-weight: 900;
    color:#927345;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity .7s;
}

.img-description:hover{
    opacity: .9;
}
.card h1{
    position:absolute;
    left: 0;
    bottom:0;
    width: 100%;
    font-size: 22px;
    font-family: BeaufortW01-Regular;
    font-weight:bold;
    letter-spacing: 5px;
    color: #927345;
    background-color: rgba(10,10,12,.9);
    border-top: 1.5px solid #927345;
    border-bottom: 1.5px solid #927345;
    text-align: center;
    padding: 10px 20px;
    opacity: 1;
}

/* input de busqueda*/
.container-busqueda{
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: center;
}

.container-busqueda input#search{
    width: 500px;
    height: 50px;
    background: #2b303b;
    border: none;
    letter-spacing: 3px;
    font-size: 15pt;
    float: left;
    color: white;
    font-weight: 800;
    padding-left: 25px;
    padding-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-busqueda input#search::-webkit-input-placeholder {
    color:#65737e;
 }
  
 .container-busqueda input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-busqueda input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-busqueda input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
@media screen and (max-width:768px){
    .span-head-champs{
        letter-spacing: 7px;
        height: 130px;
        font-size: 1.5em;
    }
    .container-head{
        height: 130px;
    }
    .container-busqueda input#search{
        width: 300px;
    }
}
