.Fr-1{
  position:absolute;
  bottom: 39.6%;
  right: 52.5%;
  background:transparent;
  color: transparent;
  border: none;
  border-radius: 50%;
}
.Fr-1:hover{
  filter: brightness(120%) saturate(120%);
  border-width: 1.5px;
  border-style: solid;
  border-color: #F9F9F9;
  color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Fr-2{
  position:absolute;
  bottom: 35.3%;
  right: 52.5%;
  background:transparent;
  color: transparent;
  border: none;
  border-radius: 50%;
}
.Fr-2:hover{
  filter: brightness(140%) saturate(120%);
  border-width: 1.5px;
  border-style: solid;
  border-color: #F9F9F9;
  color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}